
@model  LanguagesEncyclopedia.Models.ViewModel

@{
    Layout = "~/Views/Shared/_ServiceLayout.cshtml";
}
@{
    ViewBag.Title = "IDEEdit";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        //function will be called on button click having id btnsave
        $("#btnEdit").click(function () {
            document.getElementById("btnEdit").disabled = true;

            var ids=[];

            var inputs = document.getElementsByTagName("input");
            for(var i = 0; i < inputs.length; i++) {
                if(inputs[i].type == "checkbox" && inputs[i].checked == true ) {

                    ids.push(inputs[i].id);
                }
            }
           

            var pass=0;
            var nam=document.getElementById('new_IDE').value;
            if(nam==''){alert("Name is empty"); pass=1;}



            if(pass==0){
                $.ajax(
                {
                    type: "POST", //HTTP POST Method
                    url: "@Url.Action("EditIDE","Home")", // Controller/View
                    dataType: "json",
                    traditional: true,
                    data: { //Passing data
                        Name: $("#new_IDE").val(), //Reading text box values using Jquery
                        url: $("#new_URL").val(),
                        licensesIDs: ids,
                        id: @ViewBag.IDID,
                    },
                    success: function (response) {
                        window.location.href = response.Url;
                    },

                });}

            });
        });


</script>
<div id="page-wrapper">
  <div class="page-content page-content-ease-in">
       <div class="row">
           <div class="col-mg-12">
            <div class="page-title">
               <h1> Edit integrated development environment</h1>
                            <ol class="breadcrumb">
                                <li><i class="fa fa-dashboard"></i>  <a href="@Url.Action("Service", "Home")"> Service </a>
                                </li>
                                <li class="active">Edit IDE</li>
                            </ol>
            </div>
       </div>

           <div class="row">

                    <div class="col-mg-12">

                        <div class="tableportlet portlet-default">
                            <div class="portlet-heading">
                                <div class="portlet-title">
                                    <h4>Edit data table</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="portlet-tablebody">



@*Name: <div style="color: red;">*</div> <input type="text" id="new_IDE" value="@ViewBag.eName"></br>
URL: <input type="text" id="new_URL" value="@ViewBag.eUrl"></br>
<input type="button" id="btnEdit" value="Edit" />
</br></br>
@Html.ActionLink("Return to IDE List", "IDE", "Home") 
</br>*@

<div class="form-group">
        <div class="row">
            <div class="col-xs-4 has-feedback">
                <label class="control-label">Name</label><span style="color: red;"> *</span>
                <input type="text" class="form-control" name="website" id="new_IDE" value="@ViewBag.eName"/>
               <small class="help-block">The name is required</small></div>

            <div class="col-xs-7 has-feedback">
                <label class="control-label">Website</label>
                <input type="text" class="form-control" id="new_URL" value="@ViewBag.eUrl"/>
            
        </div>
    </div>
</div>




<table id="table" class="table table-bordered">
    <thead>
            <tr>
            <th>
            Name
        </th>
        <th></th>
    </tr>
     </thead>
      <tbody>
@foreach (var item in Model.Licenses) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
       
        <td id="@item.LicenseID">
            <script>

                var c = document.getElementById('@item.LicenseID');
                var checkbox = document.createElement('input');
                checkbox.type = "checkbox";
                checkbox.name = "@item.Name";
                checkbox.value = "@item.Name";
                checkbox.id = "@item.LicenseID";

                    checkbox.checked = @Model.GetTickLiceneses(item.LicenseID,Model);

                
                   c.appendChild(checkbox);

            </script>
        </td>
    </tr>
}
</tbody>
</table>

   <p> @Html.ActionLink("Back", "IDE", "Home", new { @class = "btn btn-warning" })  <input type="button" id="btnEdit" value="Edit" class="btn btn-success"/> </p>

                            </div>
                            <!-- /.portlet-body -->
                        </div>
                        <!-- /.portlet -->

                    </div>
                    <!-- /.col-lg-12 -->

                </div>


</div>
</div>

</div>

@*<script type="text/javascript">
        console.log("OK");
        $(document).ready(function () {
            $('#table').DataTable();
        });
</script>*@