
@model  LanguagesEncyclopedia.Models.ViewModel

@{
    Layout = "~/Views/Shared/_ServiceLayout.cshtml";
}
@{
    ViewBag.Title = "IDEEdit";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        //function will be called on button click having id btnsave
        $("#btnEdit").click(function () {
            var ids=[];

            var inputs = document.getElementsByTagName("input");
            for(var i = 0; i < inputs.length; i++) {
                if(inputs[i].type == "checkbox" && inputs[i].checked == true ) {

                    ids.push(inputs[i].id);
                }
            }
           

            var pass=0;
            var nam=document.getElementById('new_IDE').value;
            if(nam==''){alert("Name is empty"); pass=1;}



            if(pass==0){
                $.ajax(
                {
                    type: "POST", //HTTP POST Method
                    url: "@Url.Action("EditIDE","Home")", // Controller/View
                    dataType: "json",
                    traditional: true,
                    data: { //Passing data
                        Name: $("#new_IDE").val(), //Reading text box values using Jquery
                        url: $("#new_URL").val(),
                        licensesIDs: ids,
                        id: @ViewBag.IDID,
                    },
                    success: function (response) {
                        window.location.href = response.Url;
                    },

                });}

            });
        });


</script>
<div id="page-wrapper">
  <div class="container-fluid">
       <div class="row">
           <div class="col-mg-12">
                <h1 class="page-header">Edit IDE</h1>
            </div>
       </div>
    </div>

Name: <div style="color: red;">*</div> <input type="text" id="new_IDE" value="@ViewBag.eName"></br>
URL: <input type="text" id="new_URL" value="@ViewBag.eUrl"></br>
<input type="button" id="btnEdit" value="Edit" />
</br></br>
@Html.ActionLink("Return to IDE List", "IDE", "Home") 
</br>
<table class="table table-bordered">
    <tr class="btn-warning">
        <th>
            Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Licenses) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
       
        <td id="@item.LicenseID">
            <script>

                var c = document.getElementById('@item.LicenseID');
                var checkbox = document.createElement('input');
                checkbox.type = "checkbox";
                checkbox.name = "@item.Name";
                checkbox.value = "@item.Name";
                checkbox.id = "@item.LicenseID";

                    checkbox.checked = @Model.GetTickLiceneses(item.LicenseID,Model);

                
                   c.appendChild(checkbox);

            </script>
        </td>
    </tr>
}

</table>
    </div>