@model LanguagesEncyclopedia.Models.LanguageForWork
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "EditLanguage";
}

<div id="page-wrapper">
  <div class="container-fluid">
       <div class="row">
           <div class="col-mg-12">
                <h1 class="page-header">Edit Language</h1>
            </div>
       </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        //function will be called on button click having id btnsave
        $("#btnEdit").click(function () {
            var idsIDE=[];
            var idsPARADIGM=[];
            var idsRELATIONSHIP=[];

            var inputs = document.getElementsByTagName("input");
            for(var i = 0; i < inputs.length; i++) {
                if (inputs[i].type == "checkbox" && inputs[i].checked == true && inputs[i].name == "IDE")
                idsIDE.push(inputs[i].id);

                else if (inputs[i].type == "checkbox" && inputs[i].checked == true && inputs[i].name == "Paradigm")
                    idsPARADIGM.push(inputs[i].id);

                else if(inputs[i].type == "checkbox" && inputs[i].checked == true && inputs[i].name == "Relationship")
                    idsRELATIONSHIP.push(inputs[i].id);
            }

            var d = new Date();
            var n = d.getFullYear();
            var pass=0;
            var iy=document.getElementById('n_language_date').value;
            if(iy!=''){
                var ciy= new Date(iy,01,01);
                var nn = ciy.getFullYear();
            }
            else{alert("Date is empty!"); pass=1;}
            var nam=document.getElementById('n_language_name').value;

            
            if(nam==''){alert("Name is empty!"); pass=1;} 
            if(n<nn){alert("Invalid year!"); pass=1;}
            if(pass==0){
                $.ajax(
                     {
                         type: "POST", //HTTP POST Method
                         url: "@Url.Action("EditLanguage", "Home")", // Controller/View
                         dataType: "json",
                         traditional: true,
                         data: { //Passing data
                             Name: $("#n_language_name").val(),
                             Description: $("#n_language_desc").val(),
                             Date: $("#n_language_date").val(),
                             IDEId: idsIDE,
                             ParadigmId: idsPARADIGM,
                             RelationshipId: idsRELATIONSHIP,
                             id: @ViewBag.Id,
                         },
                         success: function (response) {
                             window.location.href = response.Url;
                         },

                     });}
       
            });
        });


</script>

</br>
Name: <div style="color: red;">*</div><input type="text" id="n_language_name" value="@ViewBag.name" /></br>
Description: <textarea id="n_language_desc">@ViewBag.desc</textarea></br>
Date (Year): <div style="color: red;">*</div><input type="text" maxlength="4" onkeypress='return event.charCode >= 48 && event.charCode <= 57' id="n_language_date" value="@ViewBag.date" /></br>
<input id="btnEdit" type="button" value="Edit" />
</br><br><br>
Available IDE's

<br>

<table class="table table-bordered">
    <tr class="btn-warning">
        <th>
            Name
        </th>
        <th>
            CheckIt
        </th>
    </tr>
    @foreach (var a in Model.AllIDE)
    {
        <tr>
            <td>
                @a.Name
            </td>
            <td id="@a.IDEID">
                <script>

                        var c = document.getElementById("@a.IDEID");


                            var checkbox = document.createElement('input');
                            checkbox.type = "checkbox";
                            checkbox.name = "IDE";
                            checkbox.value = "@a.Name";
                    checkbox.id = "@a.IDEID";
                    

                    @{ 

                        var nIDE = Model.AllLIDE.SingleOrDefault(p => p.LanguageID == Model.Lan.LanguageID && p.IDEID==a.IDEID);
                        if(nIDE== null) { nIDE= new LanguagesEncyclopedia.Views.Home.LanguageIDE(); nIDE.IDEID = 0; }
                        }

                        checkbox.checked=@Model.GetTickIDE(nIDE.IDEID, Model);
                        c.appendChild(checkbox);


                </script>
            </td>
        </tr>
    }
</table>
    </br><br><br>
    Available Paradigm's

<br>
<table class="table table-bordered">
    <tr class="btn-warning">
        <th>
            Name
        </th>
        <th>
            CheckIt
        </th>
    </tr>
    @foreach (var b in Model.AllParadigm)
    {
        <tr>
            <td>
                @b.Name
            </td>
            <td id="@b.ParadigmID+10">
                <script>

                                    var c = document.getElementById("@b.ParadigmID+10");


                                    var checkbox = document.createElement('input');
                                    checkbox.type = "checkbox";
                                    checkbox.name = "Paradigm";
                                    checkbox.value = "@b.Name";
                                    checkbox.id = "@b.ParadigmID";

                    @{

                        var nPara = Model.AllLParadigm.SingleOrDefault(p => p.LanguageID == Model.Lan.LanguageID && p.ParadigmID == b.ParadigmID);
                        if (nPara == null) { nPara = new LanguagesEncyclopedia.Views.Home.LanguageParadigm(); nPara.ParadigmID = 0; }
                        }
                        checkbox.checked=@Model.GetTickParadigm(nPara.ParadigmID , Model);
                        c.appendChild(checkbox);

                </script>
            </td>
        </tr>
    }
</table>
    </br><br><br>
    Available Language's

<br>
<table class="table table-bordered">
    <tr class="btn-warning">
        <th>
            Name
        </th>
        <th>
            CheckIt
        </th>
    </tr>
    @{ 
        var fixLanList = Model.LanList.Where(p => p.LanguageID != Model.Lan.LanguageID);
    }
    @foreach (var b in fixLanList)
            {
        <tr>
            <td>
                @b.Name
            </td>
            <td id="@b.LanguageID+20">
                <script>

                                    var c = document.getElementById("@b.LanguageID+20");


                                    var checkbox = document.createElement('input');
                                    checkbox.type = "checkbox";
                                    checkbox.name = "Relationship";
                                    checkbox.value = "@b.Name";
                                    checkbox.id = "@b.LanguageID";
                    
                        checkbox.checked=@Model.GetTickLan(b.LanguageID, Model.Lan.LanguageID , Model);
                                    c.appendChild(checkbox);

                </script>
            </td>
        </tr>
    }
</table>
</div>
