@model IEnumerable<LanguagesEncyclopedia.Views.Home.License>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Licenses";
}

<div id="page-wrapper">
  <div class="container-fluid">
       <div class="row">
           <div class="col-mg-12">
                <h1 class="page-header">Licenses</h1>
            </div>
       </div>
    </div>





<p>
    @Html.ActionLink("Create New", "Create","Home")
</p>
<table>
    <tr class="btn-warning">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.LicenseID, name = item.Name }) |
            @Html.ActionLink("Details", "Details", new { id=item.LicenseID}) |
            @Html.ActionLink("Delete", "DeleteLicense", new { id=item.LicenseID})
        </td>
    </tr>
}

</table>

</div>