@model IEnumerable<LanguagesEncyclopedia.Views.Home.Paradigm>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Paradigms";
}

<div id="page-wrapper">
  <div class="container-fluid">
       <div class="row">
           <div class="col-mg-12">
                <h1 class="page-header">Paradigms</h1>
            </div>
       </div>
    </div>
<p>
   <button class="btn btn-primary">@Html.ActionLink("Create New", "CreateParadigm", "Home", new { @class = "txt_color" })</button>
</p>
<table id ="table" class="table table-bordered">
<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <button class="btn btn-primary">@Html.ActionLink("Edit", "EditParadigm", new { id = item.ParadigmID }, new { @class = "txt_color" })</button>
                <button class="btn btn-info">@Html.ActionLink("Details", "Details", new { id = item.ParadigmID }, new { @class = "txt_color" })</button>
                <button class="btn btn-danger">@Html.ActionLink("Delete", "DeleteParadigm", new { id = item.ParadigmID }, new { @class = "txt_color" })</button>
            </td>
        </tr>
    }
    </tbody>
</table>
</div>
<script type="text/javascript">
    console.log("OK");
    $(document).ready(function () {
        $('#table').DataTable();
    });
</script>