@model IEnumerable<LanguagesEncyclopedia.Views.Home.Paradigm>

@{
    ViewBag.Title = "Paradigms";
}

<h2>Paradigms</h2>

<p>
    @Html.ActionLink("Create New", "CreateParadigm")
</p>
<table class="table table-bordered">
    <tr class="btn-warning">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditParadigm", new { id = item.ParadigmID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ParadigmID }) |
                @Html.ActionLink("Delete", "DeleteParadigm", new { id = item.ParadigmID })
            </td>
        </tr>
    }

</table>
