@model LanguagesEncyclopedia.Language


@{
    ViewBag.Title = "Info";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-8">
                <h1>@Html.DisplayFor(model => model.Name)</h1>
                <hr/>
                <p>@Html.DisplayFor(model => model.Description)</p>
                <!--<div class="clearfix"></div>-->
                
             </div><!--col-md-8-->
             <div class="col-md-4">
             <div class="panel panel-default panel_top">
                    <div class="panel-heading"align="center"><img src= "@Html.DisplayFor(model => model.Image)" alt=""/></div>
                        <div class="panel-body">
                 <p>
                    @Html.LabelFor(model => model.Date, "Year: ") 
                    @Html.DisplayFor(model => model.Date.Year)
                </p>
                <p>
                    @Html.LabelFor(model => model.LanguageParadigms, "Paradigm type: ")
                
                    @{
                        var listParadigma = Model.LanguageParadigms.Where(p => p.LanguageID == Model.LanguageID);

                        foreach (var p in listParadigma)
                        {
                                @Html.DisplayFor(model => p.Paradigm.Name) @(", ")
                        }
                    }
                </p>
                <div class="clearfix"></div>
                <p>
                    @Html.LabelFor(model => model.LanguageIDEs, "IDE list: ")
                    @{
                        var listIDE = Model.LanguageIDEs.Where(p => p.LanguageID == Model.LanguageID);

                        foreach (var p in listIDE)
                        {
                           @Html.DisplayFor(model => p.IDE.Name) @(", ")
                        }
                    }
                </p>
                <div class="clearfix"></div>
                <p>
                    @Html.LabelFor(model => model.LanguageRelationships, "Related languages: ")
                    @{
                        var listRelated = Model.LanguageRelationships1.Where(p => p.LanguageID == Model.LanguageID);

                        foreach (var p in listRelated)
                        {
                            
                                @Html.DisplayFor(model => p.Language.Name)@(", ")
                            
                        }
                    }
               </p>
                      </div>
                    </div>
             </div><!--col-md-4-->

        </div> @* row *@
    </div>

      
</div>