@model LanguagesEncyclopedia.LanguageTask

@{
    Layout = "~/Views/Shared/_ServiceLayout.cshtml";
}
@{
    ViewBag.Title = "Create";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-mg-12">
                <h1 class="page-header">Create</h1>
            </div>
        </div>
    </div>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>LanguageTask</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.LanguageID, "Language")
        </div>
        <div class="editor-field">
            @Html.DropDownList("LanguageID", String.Empty)
            @Html.ValidationMessageFor(model => model.LanguageID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TaskID, "Task")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TaskID", String.Empty)
            @Html.ValidationMessageFor(model => model.TaskID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

</div>
