@model IEnumerable<LanguagesEncyclopedia.LanguageTask>

@{
    Layout = "~/Views/Shared/_ServiceLayout.cshtml";
}
@{
    ViewBag.Title = "LanguageTasks";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-mg-12">
                <h1 class="page-header">LanguageTask</h1>
            </div>
        </div>
    </div>

    <p>
        <button class="btn btn-primary">@Html.ActionLink("Create New", "Create", "LanguageTask", new { @class = "txt_color" })</button>
    </p>

    <table id = "table" class="table table-bordered ">
    <thead>
        <tr>
            <th>
                Language @Html.DisplayNameFor(model => model.Language.Name)
            </th>
            <th>
                Task @Html.DisplayNameFor(model => model.Task.Name)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Language.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Task.Name)
                </td>
                <td>
                     <button class="btn btn-primary">@Html.ActionLink("Edit", "Edit", new { id = item.LanguageTaskID }, new { @class = "txt_color" }) </button>
                     <button class="btn btn-info">@Html.ActionLink("Details", "Details", new { id = item.LanguageTaskID }, new { @class = "txt_color" }) </button>
                     <button class="btn btn-danger">@Html.ActionLink("Delete", "Delete", new { id = item.LanguageTaskID }, new { @class = "txt_color" }) </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    console.log("OK");
    $(document).ready(function () {
        $('#table').DataTable();
    });
</script>