@model IEnumerable<LanguagesEncyclopedia.Views.Home.LanguageTask>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Language @Html.DisplayNameFor(model => model.Language.Name)
        </th>
        <th>
            Task @Html.DisplayNameFor(model => model.Task.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Language.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Task.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LanguageTaskID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LanguageTaskID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LanguageTaskID })
        </td>
    </tr>
}

</table>
