@model LanguagesEncyclopedia.Views.Home.Task

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Details";
}

<div id="page-wrapper">
  <div class="container-fluid">
       <div class="row">
           <div class="col-mg-12">
                <h1 class="page-header">Details Tasks</h1>
            </div>
       </div>
    </div>

<fieldset>
    <legend>Task</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TaskID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
    </div>