@model IEnumerable<LanguagesEncyclopedia.Models.Task>
@{
    ViewBag.Title = "Tasks";
}

<h2>Licenses</h2>

<p>
    @Html.ActionLink("Create New", "Create","Task")
</p>
<table>
    <tr class="btn-warning">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

        <th></th>
    </tr>



    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.TaskID, name = item.Name }) |
            @Html.ActionLink("Details", "Details", new { id = item.TaskID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.TaskID })
        </td>
    </tr>
}

</table>
