@model IEnumerable<LanguagesEncyclopedia.Views.Home.Task>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Index";
}

<div id="page-wrapper">
  <div class="container-fluid">
       <div class="row">
           <div class="col-mg-12">
                <h1 class="page-header"> Tasks</h1>
            </div>
       </div>
    </div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="table" class="table table-bordered">
 <thead>
    <tr class="btn-warning">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TaskID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TaskID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TaskID })
        </td>
    </tr>
}
</tbody>
</table>
    </div>

<script type="text/javascript">
    console.log("OK");
    $(document).ready(function () {
        $('#table').DataTable();
    });
</script>