@using System.Web.Optimization
@using BootstrapSupport
@using NavigationRoutes

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="@Styles.Url("~/Content/bootstrap.css")" rel="stylesheet"/>
    <link href="@Styles.Url("~/Content/Site.css")" rel="stylesheet"/>
    <link href="@Styles.Url("~/Content/fonts/font-awesome/css/font-awesome.min.css")" rel="stylesheet"/>
    <link href="@Styles.Url("~/Content/datepicker.min.css")" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="~/Content/js/jquery.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/bs/jqc-1.11.3,dt-1.10.10,b-1.1.0,cr-1.3.0,r-2.0.0,rr-1.1.0/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/s/bs/jqc-1.11.3,dt-1.10.10,b-1.1.0,cr-1.3.0,r-2.0.0,rr-1.1.0/datatables.min.js"></script>

	<script type="text/javascript" src="~/Content/js/datepicker.min.js"></script>
	<script type="text/javascript" src="~/Content/js/datepicker.en.js"></script>    
</head>

 <body>

     <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
             <div class="navbar-header"> <!-- If small screen -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <a class="navbar-brand" href="@Url.Action("Index", "Home")">DRE<i class="fa fa-font"></i>M TE<i class="fa fa-font"></i>M</a>
            </div>


            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li><a href="@Url.Action("Languages", "Home")"><i class="fa fa-fw fa-language"></i> Languages </a></li>
                    <li><a href="@Url.Action("IDE", "Home")"><i class="fa fa-fw fa-star"></i> IDE</a></li>
                    <li><a href="@Url.Action("Licenses", "Home")"><i class="fa fa-fw fa-star-half-o"></i> Licences </a></li>
                    <li><a href="@Url.Action("Index", "Solution")"><i class="fa fa-fw fa-comments"></i> Solutions </a></li>
                    <li><a href="@Url.Action("Index", "Task")"><i class="fa fa-fw fa-tasks"></i> Tasks </a></li>
                    <li><a href="@Url.Action("Index", "LanguageTask")"><i class="fa fa-fw fa-table"></i> LanguageTask </a></li>
                    <li><a href="@Url.Action("Paradigms", "Home")"><i class="fa fa-fw fa-object-group"></i> Paradigms </a></li>
                </ul>
            </div>

        </nav>

    @RenderBody()
    @RenderSection("scripts", required: false)


       </div>  <!-- wrapper -->
  </body>
</html>

<script type="text/javascript" src="~/Content/js/clock.js"></script>



