@model LanguagesEncyclopedia.Views.Home.Solution


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Details";
}

<div id="page-wrapper">
  <div class="container-fluid">
       <div class="row">
           <div class="col-mg-12">
                <h1 class="page-header"> Solutions Details</h1>
            </div>
       </div>
    </div>

<fieldset>
    <legend>Solution</legend>

    <div class="display-label">
        @Html.LabelFor(model => model.LanguageTask.Task.Name, "Task Name")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LanguageTask.Task.Name)
    </div>

    <div class="display-label">
         @Html.LabelFor(model => model.Description, "Description")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.SolutionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
    </div>