@model IEnumerable<LanguagesEncyclopedia.Views.Home.Solution>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Index";
}

<div id="page-wrapper">
  <div class="container-fluid">
       <div class="row">
           <div class="col-mg-12">
                <h1 class="page-header"> Solutions</h1>
            </div>
       </div>
    </div>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

<table id="table" class="table table-bordered">
 <thead>
    <tr class="btn-warning">
        <th>
            Task @Html.DisplayNameFor(model => model.LanguageTask.Task.Name)
        </th>
        <th>
            Task @Html.DisplayNameFor(model => model.LanguageTask.Task.Description)
        </th>
        <th>
            Language @Html.DisplayNameFor(model => model.LanguageTask.Language.Name)
        </th>

        <th>
            Task Solution
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LanguageTask.Task.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LanguageTask.Task.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LanguageTask.Language.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SolutionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SolutionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SolutionID })
        </td>
    </tr>
}
</tbody>
</table>
 </div>

 <script type="text/javascript">
     console.log("OK");
     $(document).ready(function () {
         $('#table').DataTable();
     });
</script>